<!DOCTYPE html>
<html>
<head>
    <title>Upload</title>
</head>
<body style="text-align:center; font-family:Arial; background:#f2f2f2;">

    <h2 style="color:#333;">Upload Skin Image</h2>

    <form action="/predict" method="post" enctype="multipart/form-data">
        
        <input type="file" name="file" onchange="previewImage(event)" required>
        <br><br>

        <img id="preview" width="200" style="display:none; border-radius:10px;"/>

        <br><br>

        <button style="padding:10px 20px; background:green; color:white; border:none; border-radius:5px;">
            Predict
        </button>

    </form>

    <script>
        function previewImage(event){
            var image = document.getElementById("preview");
            image.src = URL.createObjectURL(event.target.files[0]);
            image.style.display = "block";
        }
    </script>

</body>
</html>